* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #222;
    color: #fff;
    display: grid;
    place-content: center;
    font-family: system-ui;
}

header p{
    display: grid;
    place-content: center;
}

.section-talleres{
    background-color: aquamarine;
    border-radius: 10px;
    width: 625px;
    height: 275px;
    position: relative;
    top: 25%;
    left: -55px;
}

div{
    width: 125px;
    height: 55px;
}

div a{
    display: flex;
    margin-top: 18px;
    margin-left: 25px;
    text-decoration: none;
    color: black;
}

.nav-taller1{
    background-color: red;
    position: absolute;
    top: 0px;
    left: 0px;
}
.nav-taller2{
    position: absolute  ;
    background-color: blueviolet;
    left: 0px;
    top: 55px;
    width: 250px;
}
.nav-taller3a{
    background-color: tomato;
    position: absolute;
    left: 0px;
    top: 110px;
    width: 375px;
}

.nav-taller3b{
    position: absolute;
    left: 0px;
    top: 165px;
    width: 500px;
    background-color: purple;
}
.nav-taller4{
    background-color: darkkhaki;
    position: absolute;
    left: 0px;
    top: 220px;
    width: 625px;
}

.nav-taller1 :hover{
    width: 650px;
    background-color: whitesmoke ;
}